<body>
    <div id="root"><%-staticContent%></div>
    <script id="initial-data" type="application/json"><%-initialData%></script>
    
    <script type="text/javascript" src="/<%-script%>"></script>
</body>