<body>
    <div id="root"><%-staticContent%></div>
    <script id="initial-data" type="application/json"><%-initialData%></script>
    
    <script type="text/javascript" src="/client.bundle.js"></script>
</body>